/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* I'll comment this zeroed border out to aid in layout visualization */
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/* I have no idea what I'm doing because the design image has no annotations */
* {
	border: 1px solid grey;
	box-sizing: border-box;
	max-width: 100%;
}

nav {
	/* margin: 0 23.25%; */
	/* text-align: center; */
	width: 46%;
	margin: 2% auto;
}

nav li {
	display: inline-block;
	/* text-align: center; */
	/* margin: 0 auto; */
	/* padding: 0 3%; */
	width: 13.5%;
}

nav li a:link {
	text-decoration:none;
	color:grey;
	font-size: .8rem;
	/* padding-top: 3%; */
	/* margin-right: 15%; */
}

nav li img {
	/* I can't get this image's size to be respected by the inline list */
	/* inline-size: fit-content; */
}

div.header-div {
	margin: 0 auto;
	padding: 3% 0;
	width: 46%;
	text-align: center;
	border-bottom: .2rem solid black;
}

.header-text {
	display: inline-block;
	width: 45%;
	margin-top: 5%;
	margin-right: 4%;
	text-align: center;
	vertical-align: middle;
}

div.header-text button {
	border: 1px solid black;
	padding: 1% 10%;
	font-size: 1.2rem;
}

.header-image {
	display: inline-block;
	width: 45%;
	margin-top: 5%;
	margin-left: 4%;
	text-align: center;
	vertical-align: middle;
}

div.header-text h1 {
	text-align: center;
	font-size: 5rem;
	color: black;
}

section.middle {
	width: 46%;
	margin: 2% auto;
}

div.features-middle, div.about-middle {
	display: inline-block;
	width: 49.5%;
	margin-bottom: 3%;
}

section.lower {
	width: 46%;
	margin: 2% auto;
	padding-bottom: 3%;
	border-bottom: .2rem solid black;
}

div.services-lower, div.product-lower, div.vision-lower {
	display: inline-block;
	width: 33%;
}

section.bottom {
	width: 46%;
	margin: 2% auto;
	text-align: left;
}

section.bottom p {
	margin: 1% 0;
}

section.footer {
	text-align: center;
}